.transition {
  transition: transform 300ms ease-out;
}
.clickable {
  cursor: pointer;
}

.clickable:hover {
  stroke: red;
}

.rendered-data rect {
  fill-opacity: .25;
}

.rendered-data .clickable:hover {
  stroke: black;
}

.seasons .axis {
  stroke: black;
}

.seasons.selected .axis {
  fill: red;
  stroke: red;
}

.seasons rect {
  fill: #4E2A84;
  fill-opacity: .5;
}

.seasons text {
  position: sticky;
  bottom: 10px;
}
